@charset "UTF-8";
/* CSS Document
* @author Farhood Rashidi
* @date 12/03/2014
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2{
    font-family: Times, serif;
    font-weight:bold;
    font-size:26px;
    padding-left:120px;
}

h3{
    text-align:center;
    font-weight:bold;
    font-style:italic;
    font-size:22px;
}

p{
    font-size:14px;
    padding-left:20px;
}

.button{
    background:#FFF;
    color:#000;
    text-align:center;
    alignment-baseline:central;
    border-radius: 7px;
    margin-left: 20px;
    border:3px solid #666; 
}

.button:hover{
    background:black;
    color:white;
}

#mySubmit{
    margin-left: 120px;
}

#next{
    margin-left: 170px;
}

hr{
    border:3px solid #666;
}

form{
    width:450px;
    border: 5px solid #666;
    background-color: #ccc;
}

label{
    margin-left: 30px;
    padding-right: 20px;
}

table{
    width:400px;
    border-collapse: collapse;
    border-color: #191970;
    border-radius: 15px;
    border-width: 4px;
    border-spacing: 0;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 12px;
    background-color: white;
}

td,th{
    border:2px solid #191970;
    padding:5px;
    width: 300px;
    padding: 5px;   
}

td{
    text-align:center;
    text-align: right;
    height: 30px;
}

caption{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    font-weight:bold;
    padding-bottom:5px;
    padding-left: 20px;
}

tr:first-of-type{
    font-weight: bold;
    background-color:black;
    color:white;
}

textArea {
    margin-left: 130px;
    margin-top: 10px;
}
