@charset "UTF-8";
/* CSS Document
* @author Farhood Rashidi
* @date 12/21/2014
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2{
    font-family: Times, serif;
    font-weight:bold;
    font-size:26px;
    padding-left:140px;
}

h3{
    text-align:center;
    font-weight:bold;
    font-style:italic;
    font-size:24px;
    color: #666;
    margin-top: 15px;
}

p{
    font-size:14px;
    padding-left:20px;
}

#next{
    margin-right: 5px;
    margin-top: 15px;
    float: right;
    padding-right: 20px;
}

#pre{
    margin-left: 5px;
    margin-top: 15px;
    float: left;
    padding-left: 10px;
}

#nextYear{
    margin-right: 20px;
    margin-top: 15px;
    float: right;
}

#preYear{
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}

#today{
    margin-left: 20px;
    margin-top: 20px;
}

hr{
    border:3px solid #666;
}

label{
    margin-left: 80px;
    padding-right: 20px;
}

table{
    width:400px;
    border-collapse: collapse;
    border-color: #191970;
    border-radius: 15px;
    border-width: 4px;
    border-spacing: 0;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 12px;
    background-color: white;
}

td,th{
    border:2px solid #191970;
    padding:5px;
    width: 300px;
}

.today{
    border:3px groove red;
    background-color: #FFCCCC;
    font-size: 10px;
}

.event{
    border:3px groove blue;
    background-color: #E1E1FF;
    font-size: 8px;
}

td{
    text-align: right;
    height: 30px;
}

caption{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    font-weight:bold;
    padding-bottom:5px;
    padding-left: 20px;
}

tr:first-of-type{
    font-weight: bold;
    background-color:black;
    color:white;
}

#calendar{
    width:450px;
    border: 5px solid #666;
    box-shadow: 5px 5px 5px #888888;
    background-color: #ccc;
    border-radius: 10px;
}

footer{
    font-size:14px;
    font-style:italic;
    padding-top:5px;
    padding-left: 140px; 
}
